


<div class="container">
<%= render 'shared/errors', obj: @sensor %>

<div class="row">
  
  
  <div class="well col-md-4 col-md-offset-4">
    <%= form_for(@sensor, html: { multipart: true }) do |s| %>

    <%= s.label :cube_id %>
    <%= s.select :cube_id, @cubes.all.collect { |c| [ c.name, c.id ] }, include_blank: true %>
    <br>



      <%= s.label :name %>
      <%= s.text_field :name %>

      <%= s.label :altitude %>
      <%= s.text_field :altitude %>



      <%= s.label :sensor_type %>
      <%= s.select :sensor_type,
          [ 'Temperature', 
            'Humidity', 
            'Pressure', 
            'WaterproofTemperature', 
            'SoilMoisture', 
            'LightIntensity', 
            'AirQuality',
            'Power',
            'Battery'] %>  


     
      <%= s.submit(@sensor.new_record? ? 'Create Sensor' : 'Edit Sensor', class: "btn btn-success") %>
      <div class="btn btn-success white"><%= link_to 'Delete', "/sensors/#{@sensor.id}/destroy" %></div>
    <% end %>
  </div>
</div>
</div>

  



