<%= render 'shared/nav_top' %>
<%= render 'shared/nav_side' %>



  <div class="container" align="center">
  <div class="row">
  <div class="col m8 offset-m2">
    <!-- Page Content goes here -->
    <div class="section">
      <h3>Account Information</h3>
    </div>


      <div class="card-panel  blue-grey darken-1">
          <div class="section">
            <div class="row">
            <div class="col white-text s2 m2">Email</div>
            <div class="col white-text s6 m4 offset-s2 offset-m2"><%= @maker.email %></div>
            </div>
          </div>
          <br>
          <div class="divider grey"></div>

          <div class="section">
            <div class="row">
              <div class="col white-text s2 m2">Plan</div>
              <div class="col white-text s6 m4 offset-s2 offset-m2">No Plan in place</div>
              <div class="col s2 m1 push"><div class="btn btn-success white"><%= link_to 'Change', "/billing" %></div>
              </div>
            </div>
          </div>
          <br>
          <div class="divider grey"></div>

          <div class="section">
            <div class="row">
            <div class="col white-text s2 m2">Payment</div>

            <% if @default_card %>
              <div class="col white-text s6 m4 offset-s2 offset-m2">**** ***** **** <%=  @default_card.last4 %></div>
            <% else %>
              <div class="col white-text s6 m4 offset-s2 offset-m2">No Payment Source</div>
            <% end %>
            
            <div class="col s2 m1 push">
                <div class="btn btn-success white"><%= link_to 'Change', "/payment" %></div>
              </div>
            </div>
          </div>
          <br>
          <div class="divider grey"></div>

          <div class="section">
            <div class="row">
            <div class="col white-text s2 m2">Billing Cycle</div>
            <div class="col white-text s6 m4 offset-s2 offset-m2">No billing cycle in place</div>
            <div class="col s2 m1 push">
                <div class="btn btn-success white"><%= link_to 'Change', "/billing" %></div>
              </div>
            </div>
          </div>
          <br>
          <div class="divider grey"></div>

          <div class="section">
            <div class="row">
            <div class="col white-text s2 m2">EcoCubes</div>
            <div class="col white-text s6 m4 offset-s2 offset-m2">You currently own 1 EcoCube</div>
            <div class="col s2 m1 push">
                <div class="btn btn-success white"><%= link_to 'Change', "/billing" %></div>
              </div>
            </div>
          </div>
          <br>
          <div class="divider grey"></div>

           <div class="section">
            <div class="row">
            <div class="col white-text s2 m2">Alerts</div>
            <div class="col white-text s6 m4 offset-s2 offset-m2">You have used 0 alerts</div>
            </div>
          </div>
          <br>
          <div class="divider grey"></div>
      </div>

  </div>
  </div>
  </div>

  <script>
        $(document).ready(function(){
    $('.sidenav').sidenav();
  });
 </script>