
<div class="container">
<%= render 'shared/errors', obj: @trigger %>

<div class="row">
  
  
  <div class="well col-md-4 col-md-offset-4">
    <%= form_for(@trigger, html: { multipart: true }) do |t| %>
      <%= t.label :name %>
      <%= t.text_field :name %>

      <% sensorList = Hash.new %>

      <% @sensors.each do |sensor| %>      
      <% sensorList[sensor.name] = sensor.id %>
      <% end %>

      <%= t.label :sensor_id %>
      <%= t.select :sensor_id, sensorList %>  

       <%= t.label :condition %>
      <%= t.select :condition,
          [ 'Is Greater Than Or Equal To', 
            'Is Less Than'] %>  
      
      <br>

      <%= t.label :value %>
      <%= t.text_field :value %>
      
      <%= t.label :email %>
      <%= t.text_field :email %>

      <%= t.label :sms %>
      <%= t.text_field :sms %>

      <%= t.label :webhook_url %>
      <%= t.text_field :webhook_url %>








      
     
      <%= t.submit(@trigger.new_record? ? 'Create Trigger' : 'Edit Trigger', class: "btn btn-success") %>
      <div class="btn btn-success white"><%= link_to 'Delete', "/triggers/#{@trigger.id}/destroy" %></div>
    <% end %>
  </div>
</div>
</div>

