<%= render 'shared/nav_top' %>
<%= render 'shared/nav_side' %>

<div class="container">

<% sensorList = Hash.new 
    @sensors.each do |sensor|
      sensorList[sensor.id] = sensor.name
    end
%>

<div class="row">
<div class="btn btn-success white"><%= link_to 'Create New Trigger', "/triggers/new" %></div>
</div>

<br><br>

<h5> Existing Triggers </h5>

<br>

<% @triggers.each do|trigger|%>
    <div class="row">
    <div class="card horizontal">
    <div class="card-content">
      <div class="col m8">
        <h6><%= trigger.name %></h6>
        When <b> <%= sensorList[trigger.sensor_id] %></b> <%= trigger.condition %> <%= trigger.value %>, 
        send a message to <%= trigger.email %> , <%= trigger.sms %> , <%= trigger.webhook_url %>
      </div>
      <div class="col m2">
        <div class="btn btn-success white"><%= link_to 'Edit', "/triggers/#{trigger.id}/edit" %></div>
      </div>
      <div class="col m2">
        <div class="btn btn-success white"><%= link_to 'Delete', "/triggers/#{trigger.id}/destroy" %></div>
      </div>
    </div>
    </div>
    </div>
    
<% end %>  
</div>







<script>
        $(document).ready(function(){
    $('.sidenav').sidenav();
  });
 </script>



