<%= render 'shared/nav_top' %>
<%= render 'shared/nav_side' %>
<%= render 'shared/flash'%>

<div class="container" style="height:100%">
<div id="map" style="height:800px"></div>

<script>
        
        var mapCenter = new google.maps.LatLng(48.345989, 6.096948);

        var mapOptions = {
        zoom: 4,
        center: mapCenter,
        mapTypeId: 'terrain'
        }

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var image = {
          url: '/images/circle.svg',
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(80, 80),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(55, 70)
        };

        <% @cubes.each do |cube| %>

            <% firstSensor = @sensors.where(cube_id: cube.id ).first %> 

            /*
            var contentString = 
                    ' <div class="col s4 m4">' +
                    ' <div class="card horizontal">' +
                        ' <div class="card-image">' +
                                ' <a href="/charts/<%=firstSensor.id %>">' +
                                    ' <img src="<%=raw @sensor_image[firstSensor.sensor_type] %>">' +
                            '  </a>' +
                        ' </div>' +
                        ' <div class="card-stacked">' +
                        ' <div class="card-content">' +
                        ' <h5><%= firstSensor.property_value %> <%=raw @sensor_measure[firstSensor.sensor_type] %></h5>' +
                        ' <br>' +
                        ' <p><%= firstSensor.name %></p>' +
                        ' </div>' +
                        ' <div class="card-action">' +
                        ' <% if (current_user != nil) %>' +
                                ' <a href="/sensors/<%=raw firstSensor.id %>/edit">Edit</a>' +
                        ' <% end %>' +
                        ' <a href="/charts/<%= firstSensor.id %>">Graph</a>' +
                        ' </div>' +
                        ' </div>' +
                    ' </div>' +
                    ' </div>';

                */

                var contentString = 
                   ' <div class="row">' +
                       ' <div class="col s12 m12">' +
                       ' <div class="card">' +
                           ' <div class="card-image">' +
                           ' <img src="images/<%= cube.id %>.jpg">' +
                           ' <span class="card-title"><%= cube.name %></span>' +
                           ' </div>' +
                           ' <div class="card-content">' +
                           
                           <% cubeSensors = @sensors.where(cube_id: cube.id ) %>
                           <% cubeSensors.each do |sensor| %>
                            '<p> <%= sensor.name %> : <%= sensor.property_value %> <%=raw @sensor_measure[sensor.sensor_type] %></p> ' +
                           <% end %>
                           
                           ' </div>' +
                           ' <div class="card-action">' +
                           ' <a href="/cubes/<%= cube.id %>">Dashboard</a>' +
                           ' </div>' +
                        ' </div>' +
                        ' </div>' +
                    ' </div>';

            var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 200
            });
            

            var myLatlng = new google.maps.LatLng('<%= cube.latitude %>','<%= cube.longitude %>');
            var marker = new google.maps.Marker({
                position: myLatlng,
                title: 'Title',
                label: {text: '<%= firstSensor.property_value %>', color: "white", style: "bold"},
                icon: image,
                info: contentString
            });

            google.maps.event.addListener( marker, 'click', function() {
                infowindow.setContent( this.info );
                infowindow.open( map, this );
            });

            // To add the marker to the map, call setMap();
            marker.setMap(map);

        <% end %>

    </script>





<!--
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHgCyXOs3odEVeKkTz92qEOwxHgTm5xQE&callback=initMap">
    </script>
    -->


</div>

<script>
        $(document).ready(function(){
    $('.sidenav').sidenav();
  });
 </script>